# Econ 390 - Lecture 12: Pandas Calculations
Today we will start applying all of the knowledge we've accumulated since the beginning of the semester to actually get our hands dirty and work with the data! The [Working With Data Chapter from Turrell](https://aeturrell.github.io/coding-for-economists/data-intro.html#) and [5.2](https://wesmckinney.com/book/pandas-basics#pandas_frame)-[5.3](https://wesmckinney.com/book/pandas-basics#pandas_summarize) in McKinney are what is closest to this topic among the textbooks. We will be expanding on the Chilean Manufacturing Survey data from last time.

## Setting up the Data

In [1]:
# Import packages

In [2]:
# Read in df

In [3]:
# Or set the index

In [4]:
# Subset just the columns of interest

## Operations

In [5]:
# Looping through to get total employment

In [6]:
# Or use a method

In [7]:

# Test efficiency of the cell

In [8]:

# Compare it to this

In [9]:
# All in one line

In [10]:
# Create a new column in the original dataset

In [11]:
# Similar for wages paid

In [12]:
# Convert to USD

In [13]:
# Calculate average wages in USD

In [14]:
# All employees in data?

In [15]:
# Another way

In [16]:
# Suppose we don't want to count 0's towards any measures

In [17]:
# Notice patterns

In [18]:
# skipna option

In [19]:
# May make sense more for some than others

In [20]:
# Can take the mean across columns

In [21]:
# Maximum

In [22]:
# Location of the max

In [23]:
# Cumulative Sum

## Practice - Additional Calculations
1. Check out var, std, rank, quantile, mode in `ENIA_1995`

## Descriptive Statistics and Tables

In [24]:
# Convert to string

In [25]:
# the describe method

In [26]:
# Find counts of values

In [27]:
# Make it a DataFrame

In [28]:
# Or as a percent

In [29]:
# Cumulative sum

In [30]:
# Create a new df with all of these

In [31]:
# Crosstab multiple variables

In [32]:
# Normalize by column

In [33]:
# Make it percent

## Practice - Additional Calculations on DFs
1. What happens if you describe the entire dataframe?
    - What's the maximum contracted men? The maximum total wages?
2. There’s a few more variables that you could be interested in.
    - Make a tabulation looking at `EXPORTADOS` to see how many firms export.
    - Create a variable called `emp_type` that separates firms by < 25 employees, 25-100 employees, 101-499 employees, and 500+ employees. Hint: Check out the function `cut`.
    - Try making your own cross tab of `EXPORTADOS` and `emp_type`.
    - Which one do you want in the columns and which one do you want in the rows?
3. How do you control this with the crosstab method?
    - Do you want counts, percentages that add to one over the entire table, over the row, or over the column — discuss syntax of each.