# Econ 390 - Lecture 12: Pandas Calculations
Today we will start applying all of the knowledge we've accumulated since the beginning of the semester to actually get our hands dirty and work with the data! The [Working With Data Chapter from Turrell](https://aeturrell.github.io/coding-for-economists/data-intro.html#) and [5.2](https://wesmckinney.com/book/pandas-basics#pandas_frame)-[5.3](https://wesmckinney.com/book/pandas-basics#pandas_summarize) in McKinney are what is closest to this topic among the textbooks. We will be expanding on the Chilean Manufacturing Survey data from last time.

![Econ Exam Prep](https://m-mcmain.github.io/files/Econ390SP26/announcements/ExamPrepforEconStudentsWorkshop.jpg)
![Econ Internship Workshop](https://m-mcmain.github.io/files/Econ390SP26/announcements/InternshipPreparationWorkshop.png)
![CROWE John Sailer](https://m-mcmain.github.io/files/Econ390SP26/announcements/CROWEJohnSailer.jpg)

## Setting up the Data

In [1]:
# Import packages
import os, pandas as pd
website = "https://m-mcmain.github.io/files/Econ390SP26/"
os.getcwd()

'C:\\Users\\micha\\OneDrive\\Documents\\PhD\\Teaching\\Econ 390 - SP26\\Lecture 12'

In [2]:
# Read in df
ENIA_1995 = pd.read_stata(website + "FUSION_annual_1995_EMP.dta", index_col = "NUI")
ENIA_1995.head()

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS
NUI,,,,,,,,,,,,,
10082.0,2,3610,14,1,7466,0,0,0,20174,600,0,0,0.0
10101.0,2,2720,427,25,2046170,184590,0,0,810717,216003,0,0,1.0
10103.0,2,1531,46,6,135873,3426,69814,2912,37037,3848,0,0,0.0
10178.0,4,1512,39,35,22958,1886,0,0,40257,4394,0,0,0.0
10220.0,5,3312,481,15,554636,187853,0,0,858571,290794,0,0,1.0

In [3]:
# Or set the index

In [3]:
# Subset just the columns of interest
ENIA_1995_emps = ENIA_1995.loc[:, ["TOTHOM", "TOTMUJ", "TOHSC", "TOMSC"]]
ENIA_1995_emps.head()

         TOTHOM  TOTMUJ  TOHSC  TOMSC
NUI
10082.0      14       1      0      0
10101.0     427      25      0      0
10103.0      46       6      0      0
10178.0      39      35      0      0
10220.0     481      15      0      0

## Operations

In [4]:
# Looping through to get total employment
ENIA_1995_total_emps = pd.Series(0, index = ENIA_1995_emps.columns)
for emp_type in ENIA_1995_emps.columns:
    for firm in ENIA_1995_emps.index:
        ENIA_1995_total_emps[emp_type] += ENIA_1995_emps.loc[firm, emp_type]

ENIA_1995_total_emps

TOTHOM    7354
TOTMUJ    2185
TOHSC       72
TOMSC       31
dtype: int64

In [10]:
# Or use a method
ENIA_1995_emps.sum(axis="rows")

TOTHOM    7354
TOTMUJ    2185
TOHSC       72
TOMSC       31
dtype: int64

In [11]:
%%timeit
# Test efficiency of the cell
ENIA_1995_total_emps = pd.Series(0, index = ENIA_1995_emps.columns)
for emp_type in ENIA_1995_emps.columns:
    for firm in ENIA_1995_emps.index:
        ENIA_1995_total_emps[emp_type] += ENIA_1995_emps.loc[firm, emp_type]

13.2 ms ± 1.35 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
%%timeit
# Compare it to this
ENIA_1995_emps.sum(axis="rows")

159 μs ± 10.8 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [5]:
# All in one line
ENIA_1995.loc[:, ["TOTHOM", "TOTMUJ", "TOHSC", "TOMSC"]].sum(axis="rows")

TOTHOM    7354
TOTMUJ    2185
TOHSC       72
TOMSC       31
dtype: int64

In [7]:
# Create a new column in the original dataset
ENIA_1995["total_emps"] = ENIA_1995_emps.sum(axis="columns")
print(ENIA_1995)
print(ENIA_1995_emps)

         REGION  CIIU3  TOTHOM  TOTMUJ   REMEMP  REGEMP  REMCOM  REGCOM  \
NUI
10082.0       2   3610      14       1     7466       0       0       0
10101.0       2   2720     427      25  2046170  184590       0       0
10103.0       2   1531      46       6   135873    3426   69814    2912
10178.0       4   1512      39      35    22958    1886       0       0
10220.0       5   3312     481      15   554636  187853       0       0
...         ...    ...     ...     ...      ...     ...     ...     ...
23429.0      13   2520      39       0     7990     790       0       0
23437.0      13   2520      81       6    88656    1432    3284       0
23449.0       6   2924     145       0   914130   54126       0       0
40088.0       8   3693       3       3    13495     271       0       0
40172.0       1   2022      31       5     6205    1284    2634     545

         REMOBR  REGOBR  TOHSC  TOMSC  EXPORTADOS  total_emps
NUI
10082.0   20174     600      0      0         0.0          15
10101.0  810717  216003      0      0         1.0         452
10103.0   37037    3848      0      0         0.0          52
10178.0   40257    4394      0      0         0.0          74
10220.0  858571  290794      0      0         1.0         496
...         ...     ...    ...    ...         ...         ...
23429.0   25334    3874      2      0         0.0          41
23437.0  117469    9895      9      0         1.0          96
23449.0  267928   31246      0      0         0.0         145
40088.0       0       0      0      0         0.0           6
40172.0   64776     484      0      0         0.0          36

[100 rows x 14 columns]
         TOTHOM  TOTMUJ  TOHSC  TOMSC
NUI
10082.0      14       1      0      0
10101.0     427      25      0      0
10103.0      46       6      0      0
10178.0      39      35      0      0
10220.0     481      15      0      0
...         ...     ...    ...    ...
23429.0      39       0      2      0
23437.0      81       6      9      0
23449.0     145       0      0      0
40088.0       3       3      0      0
40172.0      31       5      0      0

[100 rows x 4 columns]

In [10]:
# Similar for wages paid
ENIA_1995["total_wages"] = ENIA_1995.iloc[:,[4,5,6,7,8,9]].sum(axis = "columns")
ENIA_1995

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS,total_emps,total_wages
NUI,,,,,,,,,,,,,,,
10082.0,2,3610,14,1,7466,0,0,0,20174,600,0,0,0.0,15,28240
10101.0,2,2720,427,25,2046170,184590,0,0,810717,216003,0,0,1.0,452,3257480
10103.0,2,1531,46,6,135873,3426,69814,2912,37037,3848,0,0,0.0,52,252910
10178.0,4,1512,39,35,22958,1886,0,0,40257,4394,0,0,0.0,74,69495
10220.0,5,3312,481,15,554636,187853,0,0,858571,290794,0,0,1.0,496,1891854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429.0,13,2520,39,0,7990,790,0,0,25334,3874,2,0,0.0,41,37988
23437.0,13,2520,81,6,88656,1432,3284,0,117469,9895,9,0,1.0,96,220736
23449.0,6,2924,145,0,914130,54126,0,0,267928,31246,0,0,0.0,145,1267430
40088.0,8,3693,3,3,13495,271,0,0,0,0,0,0,0.0,6,13766
40172.0,1,2022,31,5,6205,1284,2634,545,64776,484,0,0,0.0,36,75928

In [11]:
# Convert to USD
ENIA_1995["total_wages_dollar"] = ENIA_1995["total_wages"]/396.81
ENIA_1995

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS,total_emps,total_wages,total_wages_dollar
NUI,,,,,,,,,,,,,,,,
10082.0,2,3610,14,1,7466,0,0,0,20174,600,0,0,0.0,15,28240,71.167561
10101.0,2,2720,427,25,2046170,184590,0,0,810717,216003,0,0,1.0,452,3257480,8209.168116
10103.0,2,1531,46,6,135873,3426,69814,2912,37037,3848,0,0,0.0,52,252910,637.357929
10178.0,4,1512,39,35,22958,1886,0,0,40257,4394,0,0,0.0,74,69495,175.134195
10220.0,5,3312,481,15,554636,187853,0,0,858571,290794,0,0,1.0,496,1891854,4767.657065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429.0,13,2520,39,0,7990,790,0,0,25334,3874,2,0,0.0,41,37988,95.733474
23437.0,13,2520,81,6,88656,1432,3284,0,117469,9895,9,0,1.0,96,220736,556.276304
23449.0,6,2924,145,0,914130,54126,0,0,267928,31246,0,0,0.0,145,1267430,3194.047529
40088.0,8,3693,3,3,13495,271,0,0,0,0,0,0,0.0,6,13766,34.691666
40172.0,1,2022,31,5,6205,1284,2634,545,64776,484,0,0,0.0,36,75928,191.345984

In [12]:
# Calculate average wages in USD
ENIA_1995["avg_wages_dollar"] = ENIA_1995["total_wages_dollar"]/ENIA_1995["total_emps"]
ENIA_1995

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS,total_emps,total_wages,total_wages_dollar,avg_wages_dollar
NUI,,,,,,,,,,,,,,,,,
10082.0,2,3610,14,1,7466,0,0,0,20174,600,0,0,0.0,15,28240,71.167561,4.744504
10101.0,2,2720,427,25,2046170,184590,0,0,810717,216003,0,0,1.0,452,3257480,8209.168116,18.161876
10103.0,2,1531,46,6,135873,3426,69814,2912,37037,3848,0,0,0.0,52,252910,637.357929,12.256883
10178.0,4,1512,39,35,22958,1886,0,0,40257,4394,0,0,0.0,74,69495,175.134195,2.366678
10220.0,5,3312,481,15,554636,187853,0,0,858571,290794,0,0,1.0,496,1891854,4767.657065,9.612212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429.0,13,2520,39,0,7990,790,0,0,25334,3874,2,0,0.0,41,37988,95.733474,2.334963
23437.0,13,2520,81,6,88656,1432,3284,0,117469,9895,9,0,1.0,96,220736,556.276304,5.794545
23449.0,6,2924,145,0,914130,54126,0,0,267928,31246,0,0,0.0,145,1267430,3194.047529,22.027914
40088.0,8,3693,3,3,13495,271,0,0,0,0,0,0,0.0,6,13766,34.691666,5.781944
40172.0,1,2022,31,5,6205,1284,2634,545,64776,484,0,0,0.0,36,75928,191.345984,5.315166

In [14]:
# All employees in data?
ENIA_1995["total_emps"].sum()

np.int64(9642)

In [20]:
# Another way
ENIA_1995_emps.sum().sum()

np.int64(9642)

In [21]:
# Suppose we don't want to count 0's towards any measures
import numpy as np
ENIA_1995_cleaned = ENIA_1995.replace(0, np.nan)
ENIA_1995_cleaned

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS,total_emps,total_wages,total_wages_dollar,avg_wages_dollar
NUI,,,,,,,,,,,,,,,,,
10082.0,2,3610,14,1.0,7466.0,NaN,NaN,NaN,20174.0,600.0,NaN,NaN,NaN,15,28240,71.167561,4.744504
10101.0,2,2720,427,25.0,2046170.0,184590.0,NaN,NaN,810717.0,216003.0,NaN,NaN,1.0,452,3257480,8209.168116,18.161876
10103.0,2,1531,46,6.0,135873.0,3426.0,69814.0,2912.0,37037.0,3848.0,NaN,NaN,NaN,52,252910,637.357929,12.256883
10178.0,4,1512,39,35.0,22958.0,1886.0,NaN,NaN,40257.0,4394.0,NaN,NaN,NaN,74,69495,175.134195,2.366678
10220.0,5,3312,481,15.0,554636.0,187853.0,NaN,NaN,858571.0,290794.0,NaN,NaN,1.0,496,1891854,4767.657065,9.612212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429.0,13,2520,39,NaN,7990.0,790.0,NaN,NaN,25334.0,3874.0,2.0,NaN,NaN,41,37988,95.733474,2.334963
23437.0,13,2520,81,6.0,88656.0,1432.0,3284.0,NaN,117469.0,9895.0,9.0,NaN,1.0,96,220736,556.276304,5.794545
23449.0,6,2924,145,NaN,914130.0,54126.0,NaN,NaN,267928.0,31246.0,NaN,NaN,NaN,145,1267430,3194.047529,22.027914
40088.0,8,3693,3,3.0,13495.0,271.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,13766,34.691666,5.781944
40172.0,1,2022,31,5.0,6205.0,1284.0,2634.0,545.0,64776.0,484.0,NaN,NaN,NaN,36,75928,191.345984,5.315166

In [25]:
# Notice patterns
ENIA_1995.loc[:,ENIA_1995.columns.str.startswith("TO")].sum(axis="columns")

NUI
10082.0     15
10101.0    452
10103.0     52
10178.0     74
10220.0    496
          ...
23429.0     41
23437.0     96
23449.0    145
40088.0      6
40172.0     36
Length: 100, dtype: int64

In [26]:
# skipna option
ENIA_1995_cleaned.loc[:,ENIA_1995.columns.str.startswith("TO")].sum(axis="columns", skipna=False)

NUI
10082.0   NaN
10101.0   NaN
10103.0   NaN
10178.0   NaN
10220.0   NaN
           ..
23429.0   NaN
23437.0   NaN
23449.0   NaN
40088.0   NaN
40172.0   NaN
Length: 100, dtype: float64

In [19]:
# May make sense more for some than others

In [29]:
# Can take the mean across columns
print(ENIA_1995.iloc[:,2:].mean(axis="columns"),'\n')
# same for rows
print(ENIA_1995.mean(axis="rows"),'\n')

NUI
10082.0      3772.394138
10101.0    434939.488666
10103.0     33771.574321
10178.0      9287.700058
10220.0    252631.884618
               ...
23429.0      5077.071229
23437.0     29481.804723
23449.0    169224.405030
40088.0      1838.964907
40172.0     10141.644077
Length: 100, dtype: float64

REGION                     9.870000
CIIU3                   2299.330000
TOTHOM                    73.540000
TOTMUJ                    21.850000
REMEMP                132773.340000
REGEMP                 13148.190000
REMCOM                 12120.290000
REGCOM                    93.190000
REMOBR                124427.260000
REGOBR                 15415.120000
TOHSC                      0.720000
TOMSC                      0.310000
EXPORTADOS                 0.230000
total_emps                96.420000
total_wages           297977.390000
total_wages_dollar       750.932159
avg_wages_dollar           5.557475
dtype: float64

In [30]:
# Maximum
ENIA_1995.max(axis="rows")

REGION                1.300000e+01
CIIU3                 3.699000e+03
TOTHOM                6.970000e+02
TOTMUJ                5.360000e+02
REMEMP                2.824713e+06
REGEMP                5.385980e+05
REMCOM                8.398000e+05
REGCOM                2.912000e+03
REMOBR                1.153054e+06
REGOBR                2.907940e+05
TOHSC                 9.000000e+00
TOMSC                 1.300000e+01
EXPORTADOS            1.000000e+00
total_emps            9.600000e+02
total_wages           3.822586e+06
total_wages_dollar    9.633290e+03
avg_wages_dollar      2.202791e+01
dtype: float64

In [35]:
# Location of the max
ENIA_1995.loc[ENIA_1995.idxmax(axis="rows"),:]

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS,total_emps,total_wages,total_wages_dollar,avg_wages_dollar
NUI,,,,,,,,,,,,,,,,,
11370.0,13,2211,25,4,31415,0,0,0,17585,0,0,0,0.0,29,49000,123.484791,4.258096
18060.0,8,3699,11,1,3965,0,0,0,6975,0,0,0,0.0,12,10940,27.569870,2.297489
12860.0,13,1541,697,124,2824713,538598,0,0,423112,36163,0,0,0.0,821,3822586,9633.290492,11.733606
11514.0,13,2424,424,536,543084,30465,839800,0,1153054,156739,0,0,1.0,960,2723142,6862.584108,7.148525
12860.0,13,1541,697,124,2824713,538598,0,0,423112,36163,0,0,0.0,821,3822586,9633.290492,11.733606
12860.0,13,1541,697,124,2824713,538598,0,0,423112,36163,0,0,0.0,821,3822586,9633.290492,11.733606
11514.0,13,2424,424,536,543084,30465,839800,0,1153054,156739,0,0,1.0,960,2723142,6862.584108,7.148525
10103.0,2,1531,46,6,135873,3426,69814,2912,37037,3848,0,0,0.0,52,252910,637.357929,12.256883
11514.0,13,2424,424,536,543084,30465,839800,0,1153054,156739,0,0,1.0,960,2723142,6862.584108,7.148525
10220.0,5,3312,481,15,554636,187853,0,0,858571,290794,0,0,1.0,496,1891854,4767.657065,9.612212
23437.0,13,2520,81,6,88656,1432,3284,0,117469,9895,9,0,1.0,96,220736,556.276304,5.794545
16804.0,13,2520,136,107,299957,14189,0,0,265916,38777,4,13,1.0,260,618839,1559.534790,5.998211
10101.0,2,2720,427,25,2046170,184590,0,0,810717,216003,0,0,1.0,452,3257480,8209.168116,18.161876
11514.0,13,2424,424,536,543084,30465,839800,0,1153054,156739,0,0,1.0,960,2723142,6862.584108,7.148525
12860.0,13,1541,697,124,2824713,538598,0,0,423112,36163,0,0,0.0,821,3822586,9633.290492,11.733606
12860.0,13,1541,697,124,2824713,538598,0,0,423112,36163,0,0,0.0,821,3822586,9633.290492,11.733606
23449.0,6,2924,145,0,914130,54126,0,0,267928,31246,0,0,0.0,145,1267430,3194.047529,22.027914

In [36]:
# Cumulative Sum
ENIA_1995.cumsum(axis="rows")

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS,total_emps,total_wages,total_wages_dollar,avg_wages_dollar
NUI,,,,,,,,,,,,,,,,,
10082.0,2,3610,14,1,7466,0,0,0,20174,600,0,0,0.0,15,28240,71.167561,4.744504
10101.0,4,6330,441,26,2053636,184590,0,0,830891,216603,0,0,1.0,467,3285720,8280.335677,22.906380
10103.0,6,7861,487,32,2189509,188016,69814,2912,867928,220451,0,0,1.0,519,3538630,8917.693607,35.163264
10178.0,10,9373,526,67,2212467,189902,69814,2912,908185,224845,0,0,1.0,593,3608125,9092.827802,37.529942
10220.0,15,12685,1007,82,2767103,377755,69814,2912,1766756,515639,0,0,2.0,1089,5499979,13860.484867,47.142154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429.0,959,218774,7094,2171,12254848,1257706,1206111,8774,11992553,1499887,63,31,22.0,9359,28219879,71116.854414,516.827962
23437.0,972,221294,7175,2177,12343504,1259138,1209395,8774,12110022,1509782,72,31,23.0,9455,28440615,71673.130717,522.622506
23449.0,978,224218,7320,2177,13257634,1313264,1209395,8774,12377950,1541028,72,31,23.0,9600,29708045,74867.178247,544.650420
40088.0,986,227911,7323,2180,13271129,1313535,1209395,8774,12377950,1541028,72,31,23.0,9606,29721811,74901.869913,550.432365
40172.0,987,229933,7354,2185,13277334,1314819,1212029,9319,12442726,1541512,72,31,23.0,9642,29797739,75093.215897,555.747531

## Practice - Additional Calculations
1. Check out var, std, rank, quantile, mode in `ENIA_1995`
   - Hint: Standard Devation is the square root of Variance

In [43]:
# Results
print(ENIA_1995.var())
print(ENIA_1995.var()**0.5)
print(ENIA_1995.rank())
print(ENIA_1995.quantile(0.75))
print(ENIA_1995.mode())

REGION                1.455869e+01
CIIU3                 4.226737e+05
TOTHOM                1.535795e+04
TOTMUJ                3.838129e+03
REMEMP                1.406199e+11
REGEMP                3.579953e+09
REMCOM                7.401164e+09
REGCOM                1.659427e+05
REMOBR                4.534774e+10
REGOBR                1.891608e+09
TOHSC                 3.476364e+00
TOMSC                 2.801919e+00
EXPORTADOS            1.788890e-01
total_emps            2.680798e+04
total_wages           4.112845e+11
total_wages_dollar    2.612024e+06
avg_wages_dollar      1.427533e+01
dtype: float64
REGION                     3.815585
CIIU3                    650.133631
TOTHOM                   123.927188
TOTMUJ                    61.952633
REMEMP                374993.201307
REGEMP                 59832.708717
REMCOM                 86030.018852
REGCOM                   407.360702
REMOBR                212950.097592
REGOBR                 43492.624163
TOHSC                      1.864501
TOMSC                      1.673893
EXPORTADOS                 0.422953
total_emps               163.731437
total_wages           641314.677257
total_wages_dollar      1616.175694
avg_wages_dollar           3.778271
dtype: float64
         REGION  CIIU3  TOTHOM  TOTMUJ  REMEMP  REGEMP  REMCOM  REGCOM  \
NUI
10082.0     5.5   95.5    26.5    19.0    30.0    17.0    44.5    46.5
10101.0     5.5   73.0    97.0    83.0    99.0    98.0    44.5    46.5
10103.0     5.5    9.0    68.0    64.0    81.0    79.0    98.0   100.0
10178.0    11.0    5.0    60.5    88.0    63.0    69.0    44.5    46.5
10220.0    16.0   92.0    98.0    75.0    96.0    99.0    44.5    46.5
...         ...    ...     ...     ...     ...     ...     ...     ...
23429.0    74.0   61.0    60.5     6.5    32.0    53.0    44.5    46.5
23437.0    74.0   61.0    79.5    64.0    75.0    61.0    91.0    46.5
23449.0    18.0   88.5    88.0     6.5    98.0    96.0    44.5    46.5
40088.0    32.5   98.0     2.0    43.5    51.0    44.0    44.5    46.5
40172.0     2.0   46.5    57.0    58.5    29.0    60.0    90.0    95.0

         REMOBR  REGOBR  TOHSC  TOMSC  EXPORTADOS  total_emps  total_wages  \
NUI
10082.0    32.0    42.0   41.0   47.5        39.0        18.5         28.0
10101.0    97.0    99.0   41.0   47.5        89.0        96.0         99.0
10103.0    53.0    61.0   41.0   47.5        39.0        63.0         77.0
10178.0    54.0    64.0   41.0   47.5        39.0        69.0         55.0
10220.0    98.0   100.0   41.0   47.5        89.0        97.0         96.0
...         ...     ...    ...    ...         ...         ...          ...
23429.0    41.0    62.0   87.5   47.5        39.0        52.5         37.0
23437.0    74.0    76.0  100.0   47.5        89.0        77.0         73.0
23449.0    89.0    89.0   41.0   47.5        39.0        85.0         95.0
40088.0     1.5    15.5   41.0   47.5        39.0         1.5         11.0
40172.0    64.0    38.0   41.0   47.5        39.0        48.0         59.0

         total_wages_dollar  avg_wages_dollar
NUI
10082.0                28.0              50.0
10101.0                99.0              98.0
10103.0                77.0              94.0
10178.0                55.0              13.0
10220.0                96.0              90.0
...                     ...               ...
23429.0                37.0              12.0
23437.0                73.0              67.0
23449.0                95.0             100.0
40088.0                11.0              64.0
40172.0                59.0              62.0

[100 rows x 17 columns]
REGION                    13.000000
CIIU3                   2811.000000
TOTHOM                    66.500000
TOTMUJ                    15.000000
REMEMP                 89191.750000
REGEMP                  2748.000000
REMCOM                     0.000000
REGCOM                     0.000000
REMOBR                132897.750000
REGOBR                  9401.500000
TOHSC                      0.000000
TOMSC                      0.000000
EXPORTADOS                 0.000000
total_emps                91.750000
total_wages           245282.750000
total_wages_dollar       618.136514
avg_wages_dollar           6.642960
Name: 0.75, dtype: float64
    REGION   CIIU3  TOTHOM  TOTMUJ  REMEMP  REGEMP  REMCOM  REGCOM  REMOBR  \
0     13.0  1541.0    14.0     2.0     0.0     0.0     0.0     0.0     0.0
1      NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2      NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3      NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4      NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
..     ...     ...     ...     ...     ...     ...     ...     ...     ...
95     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
96     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
97     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
98     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
99     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    REGOBR  TOHSC  TOMSC  EXPORTADOS  total_emps  total_wages  \
0      0.0    0.0    0.0         0.0        13.0         7115
1      NaN    NaN    NaN         NaN        15.0         7948
2      NaN    NaN    NaN         NaN        17.0         8688
3      NaN    NaN    NaN         NaN        21.0         9250
4      NaN    NaN    NaN         NaN         NaN        10907
..     ...    ...    ...         ...         ...          ...
95     NaN    NaN    NaN         NaN         NaN      1891854
96     NaN    NaN    NaN         NaN         NaN      2073025
97     NaN    NaN    NaN         NaN         NaN      2723142
98     NaN    NaN    NaN         NaN         NaN      3257480
99     NaN    NaN    NaN         NaN         NaN      3822586

    total_wages_dollar  avg_wages_dollar
0            17.930496          0.973643
1            20.029737          1.473063
2            21.894610          1.554060
3            23.310904          1.563901
4            27.486706          1.630045
..                 ...               ...
95         4767.657065         13.043251
96         5224.225700         13.597048
97         6862.584108         18.161876
98         8209.168116         21.142532
99         9633.290492         22.027914

[100 rows x 17 columns]

## Descriptive Statistics and Tables

In [44]:
# Convert to string
ENIA_1995["REGION"] = ENIA_1995["REGION"].apply(str)
ENIA_1995["CIIU3"] = ENIA_1995["CIIU3"].apply(str)
ENIA_1995

,REGION,CIIU3,TOTHOM,TOTMUJ,REMEMP,REGEMP,REMCOM,REGCOM,REMOBR,REGOBR,TOHSC,TOMSC,EXPORTADOS,total_emps,total_wages,total_wages_dollar,avg_wages_dollar
NUI,,,,,,,,,,,,,,,,,
10082.0,2,3610,14,1,7466,0,0,0,20174,600,0,0,0.0,15,28240,71.167561,4.744504
10101.0,2,2720,427,25,2046170,184590,0,0,810717,216003,0,0,1.0,452,3257480,8209.168116,18.161876
10103.0,2,1531,46,6,135873,3426,69814,2912,37037,3848,0,0,0.0,52,252910,637.357929,12.256883
10178.0,4,1512,39,35,22958,1886,0,0,40257,4394,0,0,0.0,74,69495,175.134195,2.366678
10220.0,5,3312,481,15,554636,187853,0,0,858571,290794,0,0,1.0,496,1891854,4767.657065,9.612212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429.0,13,2520,39,0,7990,790,0,0,25334,3874,2,0,0.0,41,37988,95.733474,2.334963
23437.0,13,2520,81,6,88656,1432,3284,0,117469,9895,9,0,1.0,96,220736,556.276304,5.794545
23449.0,6,2924,145,0,914130,54126,0,0,267928,31246,0,0,0.0,145,1267430,3194.047529,22.027914
40088.0,8,3693,3,3,13495,271,0,0,0,0,0,0,0.0,6,13766,34.691666,5.781944
40172.0,1,2022,31,5,6205,1284,2634,545,64776,484,0,0,0.0,36,75928,191.345984,5.315166

In [45]:
# the describe method
ENIA_1995["REGION"].describe()

count     100
unique     11
top        13
freq       53
Name: REGION, dtype: object

In [48]:
# Find counts of values
ENIA_1995["REGION"].value_counts()

REGION
13    53
8     18
4      7
7      5
2      4
5      3
9      3
1      3
10     2
12     1
6      1
Name: count, dtype: int64

In [49]:
# Make it a DataFrame
pd.crosstab(ENIA_1995["REGION"],"count")

col_0   count
REGION
1           3
10          2
12          1
13         53
2           4
4           7
5           3
6           1
7           5
8          18
9           3

In [51]:
# Or as a percent
pd.crosstab(ENIA_1995["REGION"],"percent", normalize="columns")

col_0   percent
REGION
1          0.03
10         0.02
12         0.01
13         0.53
2          0.04
4          0.07
5          0.03
6          0.01
7          0.05
8          0.18
9          0.03

In [53]:
# Cumulative sum
pd.crosstab(ENIA_1995["REGION"],"cumulative").cumsum()

col_0   cumulative
REGION
1                3
10               5
12               6
13              59
2               63
4               70
5               73
6               74
7               79
8               97
9              100

In [56]:
# Create a new df with all of these
tab = pd.crosstab(ENIA_1995["REGION"],'count')
tab["percent"] = pd.crosstab(ENIA_1995["REGION"],"percent", normalize="columns")
tab["cumulative"] = pd.crosstab(ENIA_1995["REGION"],"cumulative").cumsum()
tab

col_0   count  percent  cumulative
REGION
1           3     0.03           3
10          2     0.02           5
12          1     0.01           6
13         53     0.53          59
2           4     0.04          63
4           7     0.07          70
5           3     0.03          73
6           1     0.01          74
7           5     0.05          79
8          18     0.18          97
9           3     0.03         100

In [59]:
# Crosstab multiple variables
pd.crosstab(ENIA_1995["CIIU3"], ENIA_1995["REGION"])

REGION  1  10  12  13  2  4  5  6  7  8  9
CIIU3
1511    0   0   0   0  0  0  0  0  1  1  0
1512    1   0   1   0  0  3  0  0  0  0  0
1514    0   0   0   1  0  0  0  0  0  0  0
1531    0   0   0   0  1  0  0  0  0  0  0
1541    0   0   0   9  0  1  0  0  2  1  0
1552    0   0   0   1  0  0  0  0  0  0  0
1711    0   0   0   1  0  0  0  0  0  0  0
1712    0   0   0   1  0  0  0  0  0  0  0
1721    0   0   0   1  0  0  0  0  0  0  0
1722    0   0   0   1  0  0  0  0  0  0  0
1729    0   0   0   1  0  0  0  0  0  0  0
1810    0   0   0   5  0  0  1  0  0  0  0
1911    0   1   0   0  0  0  0  0  1  0  0
1920    0   0   0   3  0  0  0  0  0  0  0
2010    0   0   0   0  0  0  0  0  0  4  1
2021    0   0   0   0  0  0  0  0  0  1  0
2022    1   0   0   1  0  0  0  0  0  0  0
2101    0   0   0   1  0  0  0  0  0  0  0
2211    0   0   0   2  0  0  0  0  0  0  0
2219    0   0   0   1  0  0  0  0  0  0  0
2221    0   0   0   1  0  0  0  0  0  1  0
2424    0   0   0   1  0  0  0  0  0  0  0
2429    0   0   0   1  0  0  0  0  0  0  0
2519    0   0   0   1  1  0  0  0  0  0  0
2520    0   0   0   6  0  0  0  0  1  0  0
2691    0   0   0   1  0  0  0  0  0  1  0
2694    0   0   0   0  0  1  0  0  0  0  0
2695    0   0   0   0  0  0  0  0  0  2  1
2710    0   0   0   1  0  0  0  0  0  0  0
2720    0   0   0   0  1  0  1  0  0  1  0
2811    0   0   0   0  0  2  0  0  0  1  0
2899    1   0   0   4  0  0  0  0  0  2  0
2912    0   0   0   2  0  0  0  0  0  0  0
2922    0   0   0   0  0  0  0  0  0  1  0
2924    0   0   0   1  0  0  0  1  0  0  0
3120    0   0   0   2  0  0  0  0  0  0  0
3312    0   0   0   0  0  0  1  0  0  0  0
3420    0   0   0   1  0  0  0  0  0  0  0
3610    0   1   0   1  1  0  0  0  0  0  1
3693    0   0   0   0  0  0  0  0  0  1  0
3699    0   0   0   1  0  0  0  0  0  1  0

In [60]:
# Normalize by column
pd.crosstab(ENIA_1995["CIIU3"], ENIA_1995["REGION"], normalize="columns")

REGION,1,10,12,13,2,4,5,6,7,8,9
CIIU3,,,,,,,,,,,
1511,0.000000,0.0,0.0,0.000000,0.00,0.000000,0.000000,0.0,0.2,0.055556,0.000000
1512,0.333333,0.0,1.0,0.000000,0.00,0.428571,0.000000,0.0,0.0,0.000000,0.000000
1514,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1531,0.000000,0.0,0.0,0.000000,0.25,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1541,0.000000,0.0,0.0,0.169811,0.00,0.142857,0.000000,0.0,0.4,0.055556,0.000000
1552,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1711,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1712,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1721,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1722,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1729,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1810,0.000000,0.0,0.0,0.094340,0.00,0.000000,0.333333,0.0,0.0,0.000000,0.000000
1911,0.000000,0.5,0.0,0.000000,0.00,0.000000,0.000000,0.0,0.2,0.000000,0.000000
1920,0.000000,0.0,0.0,0.056604,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2010,0.000000,0.0,0.0,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.222222,0.333333
2021,0.000000,0.0,0.0,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.000000
2022,0.333333,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2101,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2211,0.000000,0.0,0.0,0.037736,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2219,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2221,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.000000
2424,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2429,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2519,0.000000,0.0,0.0,0.018868,0.25,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2520,0.000000,0.0,0.0,0.113208,0.00,0.000000,0.000000,0.0,0.2,0.000000,0.000000
2691,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.000000
2694,0.000000,0.0,0.0,0.000000,0.00,0.142857,0.000000,0.0,0.0,0.000000,0.000000
2695,0.000000,0.0,0.0,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.111111,0.333333
2710,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2720,0.000000,0.0,0.0,0.000000,0.25,0.000000,0.333333,0.0,0.0,0.055556,0.000000
2811,0.000000,0.0,0.0,0.000000,0.00,0.285714,0.000000,0.0,0.0,0.055556,0.000000
2899,0.333333,0.0,0.0,0.075472,0.00,0.000000,0.000000,0.0,0.0,0.111111,0.000000
2912,0.000000,0.0,0.0,0.037736,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2922,0.000000,0.0,0.0,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.000000
2924,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,1.0,0.0,0.000000,0.000000
3120,0.000000,0.0,0.0,0.037736,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
3312,0.000000,0.0,0.0,0.000000,0.00,0.000000,0.333333,0.0,0.0,0.000000,0.000000
3420,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.000000,0.000000
3610,0.000000,0.5,0.0,0.018868,0.25,0.000000,0.000000,0.0,0.0,0.000000,0.333333
3693,0.000000,0.0,0.0,0.000000,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.000000
3699,0.000000,0.0,0.0,0.018868,0.00,0.000000,0.000000,0.0,0.0,0.055556,0.000000

In [61]:
# Make it percent
round(100*pd.crosstab(ENIA_1995["CIIU3"], ENIA_1995["REGION"], normalize="columns"),2)

REGION,1,10,12,13,2,4,5,6,7,8,9
CIIU3,,,,,,,,,,,
1511,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,20.0,5.56,0.00
1512,33.33,0.0,100.0,0.00,0.0,42.86,0.00,0.0,0.0,0.00,0.00
1514,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
1531,0.00,0.0,0.0,0.00,25.0,0.00,0.00,0.0,0.0,0.00,0.00
1541,0.00,0.0,0.0,16.98,0.0,14.29,0.00,0.0,40.0,5.56,0.00
1552,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
1711,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
1712,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
1721,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
1722,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
1729,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
1810,0.00,0.0,0.0,9.43,0.0,0.00,33.33,0.0,0.0,0.00,0.00
1911,0.00,50.0,0.0,0.00,0.0,0.00,0.00,0.0,20.0,0.00,0.00
1920,0.00,0.0,0.0,5.66,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2010,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,22.22,33.33
2021,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,5.56,0.00
2022,33.33,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2101,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2211,0.00,0.0,0.0,3.77,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2219,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2221,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,5.56,0.00
2424,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2429,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2519,0.00,0.0,0.0,1.89,25.0,0.00,0.00,0.0,0.0,0.00,0.00
2520,0.00,0.0,0.0,11.32,0.0,0.00,0.00,0.0,20.0,0.00,0.00
2691,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,5.56,0.00
2694,0.00,0.0,0.0,0.00,0.0,14.29,0.00,0.0,0.0,0.00,0.00
2695,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,11.11,33.33
2710,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2720,0.00,0.0,0.0,0.00,25.0,0.00,33.33,0.0,0.0,5.56,0.00
2811,0.00,0.0,0.0,0.00,0.0,28.57,0.00,0.0,0.0,5.56,0.00
2899,33.33,0.0,0.0,7.55,0.0,0.00,0.00,0.0,0.0,11.11,0.00
2912,0.00,0.0,0.0,3.77,0.0,0.00,0.00,0.0,0.0,0.00,0.00
2922,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,5.56,0.00
2924,0.00,0.0,0.0,1.89,0.0,0.00,0.00,100.0,0.0,0.00,0.00
3120,0.00,0.0,0.0,3.77,0.0,0.00,0.00,0.0,0.0,0.00,0.00
3312,0.00,0.0,0.0,0.00,0.0,0.00,33.33,0.0,0.0,0.00,0.00
3420,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,0.00,0.00
3610,0.00,50.0,0.0,1.89,25.0,0.00,0.00,0.0,0.0,0.00,33.33
3693,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,5.56,0.00
3699,0.00,0.0,0.0,1.89,0.0,0.00,0.00,0.0,0.0,5.56,0.00

## Practice - Additional Calculations on DFs
1. What happens if you describe the entire dataframe?
    - What's the maximum contracted men? The maximum total wages?
2. There’s a few more variables that you could be interested in.
    - Make a tabulation looking at `EXPORTADOS` to see how many firms export.
    - Create a variable called `emp_type` that separates firms by < 25 employees, 25-100 employees, 101-499 employees, and 500+ employees. Hint: Check out the function `cut`.
    - Try making your own cross tab of `EXPORTADOS` and `emp_type`.
    - Which one do you want in the columns and which one do you want in the rows?
3. How do you control this with the crosstab method?
    - Do you want counts, percentages that add to one over the entire table, over the row, or over the column — discuss syntax of each.

In [75]:
# Results:
# 1.
#print(ENIA_1995.describe())
#print(ENIA_1995.describe().loc["max","TOTHOM"])
print(ENIA_1995.describe().loc["max","total_wages"])
# 2. 
print(pd.crosstab(ENIA_1995["EXPORTADOS"], "count"))
ENIA_1995["emp_type"] = pd.cut(ENIA_1995["total_emps"],bins = [1,25,100,500,1000])
print(pd.crosstab(ENIA_1995["emp_type"], ENIA_1995["EXPORTADOS"]))
# 3.
print(pd.crosstab(ENIA_1995["emp_type"], ENIA_1995["EXPORTADOS"], normalize="columns"))

3822586.0
col_0       count
EXPORTADOS
0.0            77
1.0            23
EXPORTADOS   0.0  1.0
emp_type
(1, 25]       39    1
(25, 100]     30    7
(100, 500]     7   13
(500, 1000]    1    2
EXPORTADOS        0.0       1.0
emp_type
(1, 25]      0.506494  0.043478
(25, 100]    0.389610  0.304348
(100, 500]   0.090909  0.565217
(500, 1000]  0.012987  0.086957