# Econ 390 - Lecture 11: Pandas Read and Write
Today we will be learning how to use Pandas to read and write data files. This follows from [McKinney](https://wesmckinney.com/book/accessing-data) and [Turell](https://aeturrell.github.io/coding-for-economists/data-read-and-write.html).

## CSV Files

In [1]:
# Read in a CSV file
macro_data = pd.read_csv("macro_data.csv")

NameError: name 'pd' is not defined

In [2]:
# Don't forget!
import pandas as pd

In [4]:
# Now we can read it in?
macro_data = pd.read_csv("macro_data.csv")
macro_data

   observation_date   GDP_PC1  CPIAUCSL_PC1  CES0500000003_PC1  NASDAQCOM_PC1
0        2015-01-01   3.90093       0.12114            2.25887       13.03855
1        2016-01-01   2.78707       1.26736            2.56214        0.85409
2        2017-01-01   4.29244       2.13144            2.55661       25.01118
3        2018-01-01   5.32535       2.43900            3.01869       19.09546
4        2019-01-01   4.27694       1.81326            3.29920        6.92507
5        2020-01-01  -0.76462       1.25294            4.87856       28.47922
6        2021-01-01  10.99571       4.67912            4.28267       40.87765
7        2022-01-01   9.81625       7.99264            5.37775      -14.89260
8        2023-01-01   6.74315       4.12772            4.44473        6.04126
9        2024-01-01   5.34489       2.95161            4.03304       32.97673
10       2025-01-01       NaN           NaN                NaN       17.90245

In [5]:
# What does it become?
type(macro_data)

pandas.core.frame.DataFrame

In [7]:
# Check out the first three
macro_data.head()

  observation_date  GDP_PC1  CPIAUCSL_PC1  CES0500000003_PC1  NASDAQCOM_PC1
0       2015-01-01  3.90093       0.12114            2.25887       13.03855
1       2016-01-01  2.78707       1.26736            2.56214        0.85409
2       2017-01-01  4.29244       2.13144            2.55661       25.01118
3       2018-01-01  5.32535       2.43900            3.01869       19.09546
4       2019-01-01  4.27694       1.81326            3.29920        6.92507

In [9]:
# Check out the last 5
macro_data.tail()

   observation_date   GDP_PC1  CPIAUCSL_PC1  CES0500000003_PC1  NASDAQCOM_PC1
6        2021-01-01  10.99571       4.67912            4.28267       40.87765
7        2022-01-01   9.81625       7.99264            5.37775      -14.89260
8        2023-01-01   6.74315       4.12772            4.44473        6.04126
9        2024-01-01   5.34489       2.95161            4.03304       32.97673
10       2025-01-01       NaN           NaN                NaN       17.90245

In [10]:
# Change the index
macro_data_new_index = macro_data.set_index("observation_date")
macro_data_new_index

                   GDP_PC1  CPIAUCSL_PC1  CES0500000003_PC1  NASDAQCOM_PC1
observation_date
2015-01-01         3.90093       0.12114            2.25887       13.03855
2016-01-01         2.78707       1.26736            2.56214        0.85409
2017-01-01         4.29244       2.13144            2.55661       25.01118
2018-01-01         5.32535       2.43900            3.01869       19.09546
2019-01-01         4.27694       1.81326            3.29920        6.92507
2020-01-01        -0.76462       1.25294            4.87856       28.47922
2021-01-01        10.99571       4.67912            4.28267       40.87765
2022-01-01         9.81625       7.99264            5.37775      -14.89260
2023-01-01         6.74315       4.12772            4.44473        6.04126
2024-01-01         5.34489       2.95161            4.03304       32.97673
2025-01-01             NaN           NaN                NaN       17.90245

In [11]:
# Introspection
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

In [14]:
# You aren't limited to just the current folder
USD_ER = pd.read_csv("../Lecture 13/USD_ERs.csv")
USD_ER

,observation_date,DTWEXBGS_NBD20060101,DEXCHUS_NBD20060101,DEXUSEU_NBD20060101
0,1/1/2006,100.00000,100.00000,100.00000
1,2/1/2006,100.21117,99.82489,98.46800
2,3/1/2006,100.42808,99.62384,99.19950
3,4/1/2006,99.74348,99.36736,101.21851
4,5/1/2006,97.51177,99.35193,105.29425
...,...,...,...,...
234,7/1/2025,120.52656,88.94931,96.25020
235,8/1/2025,120.98444,88.93206,96.05770
236,9/1/2025,120.45339,88.32157,96.81015
237,10/1/2025,121.17118,88.27831,96.00204
238,11/1/2025,121.80375,88.11608,95.32070

In [15]:
# New useful package!
import os
os.getcwd()

'C:\\Users\\micha\\OneDrive\\Documents\\PhD\\Teaching\\Econ 390 - SP26\\Lecture 11'

In [11]:
# e.g.:

In [18]:
# Change the default location!
os.chdir("../")
os.getcwd()

'C:\\Users\\micha\\OneDrive'

In [21]:
# Read in from online
website = "https://m-mcmain.github.io/files/Econ390SP26/"
macro_data_online = pd.read_csv(website+"macro_data.csv", index_col = "observation_date")
macro_data_online

                   GDP_PC1  CPIAUCSL_PC1  CES0500000003_PC1  NASDAQCOM_PC1
observation_date
2015-01-01         3.90093       0.12114            2.25887       13.03855
2016-01-01         2.78707       1.26736            2.56214        0.85409
2017-01-01         4.29244       2.13144            2.55661       25.01118
2018-01-01         5.32535       2.43900            3.01869       19.09546
2019-01-01         4.27694       1.81326            3.29920        6.92507
2020-01-01        -0.76462       1.25294            4.87856       28.47922
2021-01-01        10.99571       4.67912            4.28267       40.87765
2022-01-01         9.81625       7.99264            5.37775      -14.89260
2023-01-01         6.74315       4.12772            4.44473        6.04126
2024-01-01         5.34489       2.95161            4.03304       32.97673
2025-01-01             NaN           NaN                NaN       17.90245

## Practice - CSV Files
1. Now, try to *write* the csv file somewhere onto your computer. This is useful when you do datawork and want to export it to use in another program or save to access later. Try using the `to_csv` method on `macro_data_online` with the knowledge you have of `read_csv`.

In [26]:
macro_data_online.to_csv("C:/Users/micha/OneDrive/Documents/PhD/Teaching/Econ 390 - SP26/Lecture 11/macro_data_online.csv")

## Excel Files

In [27]:
# You can also read in Excel files
trade = pd.read_excel(website + "trade_data.xlsx")
trade

,FRED Graph Observations,Unnamed: 1,Unnamed: 2
0,"Federal Reserve Economic Data, Federal Reserve...",NaN,NaN
1,Link: https://fred.stlouisfed.org,NaN,NaN
2,Help: https://fredhelp.stlouisfed.org,NaN,NaN
3,This data may be copyrighted. Please refer to ...,NaN,NaN
4,File Created: 2025-12-11 12:04 pm CST,NaN,NaN
5,NaN,NaN,NaN
6,BOPGSTB_PC1,"Trade Balance: Goods and Services, Balance of ...",Data Updated: 2025-11-19
7,MRTSSM44000USS_PC1,"Retail Sales: Retail Trade, Percent Change fro...",Data Updated: 2025-12-02
8,DTWEXBGS_PC1,"Nominal Broad U.S. Dollar Index, Percent Chang...",Data Updated: 2025-12-08

In [29]:
# Specify what sheet you want
trade_quarterly = pd.read_excel(website + "trade_data.xlsx", sheet_name = "Quarterly")
trade_quarterly.head()

  observation_date  BOPGSTB_PC1  MRTSSM44000USS_PC1  DTWEXBGS_PC1
0       2015-10-01     -1.12033             1.45264      12.24591
1       2016-01-01     -1.11029             2.34402       7.71384
2       2016-04-01     -1.62633             1.92334       4.64050
3       2016-07-01     -7.21554             1.84270       2.21171
4       2016-10-01      0.89923             3.28577       3.93707

In [33]:
# Or columns
exchange_rate_monthly = pd.read_excel(website+"trade_data.xlsx", sheet_name="Monthly",usecols=[3], index_col=[0])
exchange_rate_monthly.head()

Empty DataFrame
Columns: []
Index: [12.68926, 11.18015, 11.05779, 8.66533, 4.21801]

## Stata Files

In [34]:
# Stata dta files can also be read in!
chilean_SM = pd.read_stata(website+"FUSION_annual_1995.dta")
chilean_SM.head()

,NUI,Dvn,REGION,CIIU2,CIIU3,TAMANO,ANIO,FORPRO,PORNAC,POREXT,...,TOCC,TOHSC,TOMSC,TOSC,EVTAS,EVBP,EVA,EMPTOT,VSTK,avg_sal
0,10082,K,2,3819,3610,2,1995,1,100,0,...,15,0,0,0,5,5,4,15.0,85699.0,1882.666626
1,10101,K,2,3721,2720,6,1995,1,0,0,...,452,0,0,0,10,10,10,452.0,216760048.0,7206.813965
2,10103,6,2,3116,1531,4,1995,1,0,0,...,52,0,0,0,8,8,6,52.0,1567523.0,4863.653809
3,10178,8,4,3114,1512,4,1995,1,100,0,...,74,0,0,0,6,6,4,74.0,140901.0,939.121643
4,10220,2,5,3843,3312,6,1995,2,0,100,...,496,0,0,0,10,10,7,496.0,10962775.0,3814.221680

In [38]:
# Same with online and specifying the index
chilean_SM = pd.read_stata(website+"FUSION_annual_1995.dta", index_col="NUI")
chilean_SM.head()

,Dvn,REGION,CIIU2,CIIU3,TAMANO,ANIO,FORPRO,PORNAC,POREXT,JORTRA,...,TOCC,TOHSC,TOMSC,TOSC,EVTAS,EVBP,EVA,EMPTOT,VSTK,avg_sal
NUI,,,,,,,,,,,,,,,,,,,,,
10082,K,2,3819,3610,2,1995,1,100,0,2,...,15,0,0,0,5,5,4,15.0,85699.0,1882.666626
10101,K,2,3721,2720,6,1995,1,0,0,3,...,452,0,0,0,10,10,10,452.0,216760048.0,7206.813965
10103,6,2,3116,1531,4,1995,1,0,0,1,...,52,0,0,0,8,8,6,52.0,1567523.0,4863.653809
10178,8,4,3114,1512,4,1995,1,100,0,2,...,74,0,0,0,6,6,4,74.0,140901.0,939.121643
10220,2,5,3843,3312,6,1995,2,0,100,1,...,496,0,0,0,10,10,7,496.0,10962775.0,3814.221680

## Practice - Loading Data Online
1. Find a dataset from [WisDOT](https://wisconsindot.gov/Pages/safety/education/crash-data/crashfacts.aspx) and download it manually and read it into Python. Let's avoid reading in any data that was calculated by them (total, average).
2. Now, try to read in the table straight from the website.
3. Are there any columns that would make sense for an index?

In [44]:
#Results
# 1.
WisDOT = pd.read_csv("C:/Users/micha/Downloads/web-county.csv", usecols=range(0,7))
print(WisDOT)
# 2.
WisDOT = pd.read_csv("https://wisconsindot.gov/Documents/about-wisdot/newsroom/statistics/crash-fatality/web-county.csv", usecols=range(0,7))
print(WisDOT)
# 3.
WisDOT = WisDOT.set_index("County")
WisDOT

       County  2026  2025  2024  2023  2022  2021
0       Adams     0     1     7     8     8     1
1     Ashland     0     3     1     1     3     1
2      Barron     0     2    11     7     8     9
3    Bayfield     0     1     0     2     6     1
4       Brown     2    10    19    12    14     5
..        ...   ...   ...   ...   ...   ...   ...
68    Waupaca     0     9     3     6     5     9
69   Waushara     0     5     3     8     3     8
70  Winnebago     4    12    14    12    11    10
71       Wood     0     3    12     7     6     6
72      Total    47   545   576   566   593   593

[73 rows x 7 columns]
       County  2026  2025  2024  2023  2022  2021
0       Adams     0     1     7     8     8     1
1     Ashland     0     3     1     1     3     1
2      Barron     0     2    11     7     8     9
3    Bayfield     0     1     0     2     6     1
4       Brown     2    10    19    12    14     5
..        ...   ...   ...   ...   ...   ...   ...
68    Waupaca     0     9     3     6     5     9
69   Waushara     0     5     3     8     3     8
70  Winnebago     4    12    14    12    11    10
71       Wood     0     3    12     7     6     6
72      Total    47   545   576   566   593   593

[73 rows x 7 columns]

           2026  2025  2024  2023  2022  2021
County
Adams         0     1     7     8     8     1
Ashland       0     3     1     1     3     1
Barron        0     2    11     7     8     9
Bayfield      0     1     0     2     6     1
Brown         2    10    19    12    14     5
...         ...   ...   ...   ...   ...   ...
Waupaca       0     9     3     6     5     9
Waushara      0     5     3     8     3     8
Winnebago     4    12    14    12    11    10
Wood          0     3    12     7     6     6
Total        47   545   576   566   593   593

[73 rows x 6 columns]